:root {
  --black_t: #1f1f1f;
  --darkblue_n: #112A51;
  --dark-green: #1a3b2a;
  --apricot: #ee9f89;
}

.number-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch; 
  gap: 0.25rem;

  flex: 1 1 0;
  min-width: 0;
  min-height: 0;
  height: 100%;     
  box-sizing: border-box;
  overflow: hidden;
}

.number-count {
  flex: 1 1 0;
  min-height: 0;
  max-height: 100%;
  overflow: hidden;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;

  font-size: clamp(.5rem, min(7vw, 8vh), 5rem);
  line-height: 1.1;
  
  font-family: 'Grayson', serif;
  background: linear-gradient(to right, var(--dark-green), var(--apricot));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

    border: 5px solid red;
}

.number-text {
  flex: 1 1 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin: 0;
  font-family: 'Inter', serif;

  font-size: clamp(.2rem, min(3.5vw,4vh), 1.5rem);
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--black_t);
  justify-content: flex-start;
  align-items: flex-start;
  border: 5px solid green;
}
