:root {
  --black_t: #1f1f1f;
  --darkblue_n: #112A51;
  --dark-green: #1a3b2a;
  --apricot: #ee9f89;
}

.number-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
  gap: 0.25rem;
  flex: 1 1 0;
  min-width: 0;
  min-height: 0;
  height: 100%;     
  width:auto;
  box-sizing: border-box;
  overflow: hidden;

  border: 5px solid white;
}

.number-count {
  flex: 1 1 0;
  min-height: 0;
  max-height: 100%;
  overflow: hidden;
  /* display: flex;
  align-items: flex-end;
  justify-content: flex-start;

  overflow: hidden;
  white-space: nowrap;  */
  font-size: clamp(1rem, min(9vh, 9vw), 8rem);
      border:5px solid green;
  line-height: 1;
        width: auto;
  font-family: 'Grayson', serif;
  background: linear-gradient(to right, var(--dark-green), var(--apricot));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.number-text {
  flex: 1 1 0;
  overflow: hidden;
  display: flex;
  margin: 0;
  font-family: 'Inter', serif;

  font-size: clamp(.2rem, min(3.5vw,4vh), 1.2rem);
  line-height: 1;
  text-transform: uppercase;
  color: var(--black_t);
  justify-content: flex-start;
  align-items: flex-start;

  min-height: 0;
  max-height: 100%;
  text-align: left;
}

@media (max-width: 1200px) {
  .number-count {
    justify-content: center;
    text-align: center;
  }

  .number-text {
    justify-content: center;
    text-align: center;
  }
}
