.code-toggler {
  width: 100%;
  box-sizing: border-box;
  border: 5px solid yellow;
}

.code-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.code-label {
  font-family: 'Inter', sans-serif;
  color: #ffffff;
  line-height: 1;
}

.code-content {
  display: flex;
  flex-direction: row;
  border: none;
}

.code-toggler__code-wrapper {
  position: relative;   /* damit absolute-Kinder sich darauf beziehen */
  width: 98%;
  border: 10px solid purple;
  margin: 0;
  padding: 0;
}

.code-scrollbutton {
  position: fixed;     /* relativ zum Viewport */
  bottom: 16px;        /* 16px Abstand unten */
  right: 1rem;         /* 16px Abstand rechts */
  display: flex;       /* Buttons nebeneinander */
  flex-direction: column;
  border: 5px solid red;
  gap: 4px;
  padding: 4px;
  background: rgba(0,0,0,0.5);
  z-index: 1000;       /* über dem Code */
}

.code-scrollbutton button {
  cursor: pointer;
  background: none;
  color: #fff;
  width: auto;
  margin: 2px 0;
}
.code-toggler__button {
  padding: 0.4rem 0.8rem;
  font-size: 0.9rem;
  line-height: 1;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #444;
  color: #ffffff;
}

.code-toggler__code-block {
  box-sizing: border-box;
  width: 100%;
  border-radius: 6px;
  font-size: 14px;
  color: #f8f8f2;
  text-align: left;
  white-space: pre-wrap;
  font-family: 'Courier New', Courier, monospace;
}

button {
  cursor: pointer;
}
