.scroll-to-top-inside-banner {
  position: absolute;
  top: 0rem;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
  pointer-events: auto;
}

.triangle {
  display: inline-block;
  line-height: 1;
  color: black;
  font-size: clamp(1rem, 3vw, 5rem); /* responsiv: min - ideal - max */
  padding: 0.25rem;
  box-sizing: border-box;
}