:root {
  --lightbeige-bg: #eee8e1;
  ---bgbeige: #f3e1d4;
  --darkbeige-circle: #f5e0d0;
}

body {
  background-color: var(--lightbeige-bg);
  color: #f0f0f0;
  margin: 0;
  font-family: 'Grayson';
}

.main-header {
  padding: 1rem 2rem;
  background-color: #1f1f1f;
}

.app-content {
  margin-left: 5vw;
  width: 95vw;
  overflow-x: hidden;
  position: relative;
}

.main-layout-wrapper {
  margin-left: 3vw; 
  width: calc(100vw - 3vw); 
  overflow-x: hidden;
  box-sizing: border-box;
}
