:root {
  --black_t: #1f1f1f;
}

.left-banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 2vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 1000;
  background-color: transparent;
  overflow: hidden;
  outline: 2px dashed red;
}

.banner-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 2vw;
  height: 100vh;
  z-index: -1;
}

.banner-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 2rem; */
}

.banner-bottom {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: clamp(.7rem, .8vw, 1rem);
  color: var(--black_t);
  padding-bottom: 2rem;
  font-family: 'Inter', serif;
  text-align: center;
}
