/* .main-header {
    background-color: #1f1f1f;
    color: #f0f0f0;
    border-bottom: 1px solid #444;
    position: sticky;
    padding: 1rem 0.5rem;
    top: 0;
    z-index: 100;   
  } */
  
.header-content {
  display: flex;
  justify-content: center; 
  align-items: center;
}
  
.name {
  font-size: 1.0rem;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

  .tagline {
    font-size: 0.25rem;
    margin: 0 0 0 0.5rem; 
    opacity: 0.8;
  }

.menu-block {
  display: flex;
  align-items: center;
  height: 100%;
}

.home-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.home-link * {
  pointer-events: auto;
}

  