:root {
  --lightbeige-bg: #eee8e1;;
  ---bgbeige: #f3e1d4;
  --darkbeige-circle: #ffeee1;
  --accent-orange: #f85b00;
  --dark-text: #1a1a1a;
  --dark-green: #1a3b2a;

  --language-bar-height: .75rem;
}

.language-controller-bar {
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-end;
  padding: .75rem 3rem; 
  box-sizing: border-box;
}

.projects-section {
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-y: auto;             
  scroll-behavior: smooth;       
  scroll-snap-type: y mandatory;  
}


.projects-heading {
  color: var(--dark-text);
  font-family: 'Grayson';
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}

.projects-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 2rem;          
}

.home-tile {
  position: relative;
  width: var(--tile-size);
  height: var(--tile-size);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.tile-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s;
}

.tile-img.default {
  z-index: 1;
  opacity: 1;
}

.tile-img.hover {
  z-index: 2;
  opacity: 0;
}

.home-tile:hover .tile-img.default {
  opacity: 0;
}

.home-tile:hover .tile-img.hover {
  opacity: 1;
}

.home-tile:hover .tile-overlay {
  opacity: 1;
}

.tile-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
}

.tile-label {
  position: absolute;
  top: 0.5rem;
  left: .75rem;
  z-index: 3;
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  pointer-events: none;
  background: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.intro-fullscreen {
  z-index: -1;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lightbeige-bg);
  background-repeat: repeat;
}


.hero-description {
  margin-top: 2rem;
  font-size: 1rem;
  font-family: 'Inter', serif;
  color: var(--dark-text);
  line-height: 1.6;
  text-align: justify;
}

.hero-content {
  display: flex;
  width: 100%;
  height: auto;
}

.hero-section {
  position: relative;
  min-height: 100vh;
  z-index: 0;
}

.hero-section::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  background-repeat: repeat;
  background-size: 300px 300px;
  opacity: 0.75;
  z-index: 1;
  animation: grainMove 15s steps(90) infinite;
}

@keyframes grainMove {
  0% { background-position: 0 0; }
  25% { background-position: 10px -10px; }
  50% { background-position: -10px 10px; }
  75% { background-position: -5px -5px; }
  100% { background-position: 0 0; }
}

.hero-screen {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
}

.hero-body {
  display: flex;
  flex: 1 1 auto;
  margin: 0;
}

.hero-left {
  height: 100%;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  box-sizing: border-box;
}

.hero-right {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 1rem;
  padding-bottom: 10rem;
}

.hero-right-block{
  margin: 2rem;
}

.hero-text-block {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 2rem;
}

.hero-headline {
  margin: 0;
  font-family: 'Grayson', serif;
  font-size: clamp(2rem, calc(4vw + 2vh), 8rem);
  line-height: 1;
  text-transform: uppercase;
  white-space:inherit;
}

.hero-subline {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: clamp(0.875rem, min(3.5vw,4vh), 1.2rem);
  line-height: 1.2;
  text-transform: uppercase;
  word-break: break-word;
}

.stats-row {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
  justify-content: flex-start;
  align-items: flex-start;
  max-height: 100%;
  width: auto;
  overflow: hidden;
}

.hero-nav {
  width: 100%;
  flex: 1;
  max-width: 100%;
  min-width: 100%;
  overflow: visible;
  white-space: normal;
  box-sizing: border-box;
  display: flex;
}

.hero-container {
  display: flex;
  gap: 40px;
}

.scalable-text {
  display: inline-block;
  width: 100%;
  font-size: clamp(1.5rem, 6vw, 6rem); 
  text-align: right;
  white-space: nowrap;
}

.hero-nav-wrapper {
  display: inline-block;
  text-align: right;
}

.hero-nav li {
  width: 100%;
  flex-grow: 1;
  text-align: right;
  margin-bottom: 1rem;
  transition: color 0.3s ease;
}

.fit-text {
  margin-left: auto;
  width: 100%;
  display: block;
  text-align: right;
}


@media (max-width: 1200px) {
.hero-screen {
    display: flex;
    flex-direction: column;
    height: 100vh; 
  }

.language-controller-bar {
    padding: 0.25rem 1rem;
    flex: 0 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .hero-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: auto;
    box-sizing: border-box;
  }

  .hero-left {
    order: 2;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex: 1 1 50%;
    width: 100%;
    box-sizing: border-box;
  }

  .hero-right {
    order: 1;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0rem;

    flex: 1 1 50%;
    width: 100%;
  }

  .hero-right-block {
    padding: .5rem;
      margin: 0;
  }

  .hero-text-block {
    text-align: center;
    display: flex;
    align-items: center;
  }

  .hero-headline {
    display: flex;
    align-items: center;  
    justify-content: center;
    text-align: center;
  }

  .hero-nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-nav-content {
    flex-direction: column;
    align-items: center;
  }

  .hero-nav-links {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 0;
  }

  .hero-nav-divider {
    display: none;
  }

  .projects-section{
    height: auto;
    min-height: auto;
    overflow: visible;
  }

  .intro-fullscreen,
  .about-section {
    height: auto;
    min-height: auto;
    overflow: visible;
  }

  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
  }
}

 @media (max-width: 768px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}  
