.language-switcher {
  display: flex;
  gap: 1.25rem; 
  z-index: 1000;
}

.lang-button {
  padding-top:0.5rem;
  cursor: pointer;
  transition: letter-spacing 0.3 ease;
  font-family:'Inter';
  text-transform: uppercase;
  background: none;  
  border: none;
  outline: none;
  font-size: 1.25rem; 
  color: grey;
}

.lang-button.active {
   color:#1f1f1f;
}
