@font-face {
  font-family: 'Grayson';
  src: url('./assets/fonts/Grayson-Regular.woff2') format('woff2'),
       url('./assets/fonts/Grayson-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}